<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validação de formulario</title>
</head>
<body>
    <form action="">
        <input type="text" name="nome" id="nome" placeholder="Nome">
        <input type="email" name="email" id="email" placeholder="E-mail">
        <input type="number" name="pontos" id="pontos" placeholder="pontos">
    </form>
</body>
</html>